<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <span class="text-white">© 2023 Achyut Sharan - All Rights Reserved.
                    by <a href="javascript:void();" class="designer">Achyut Sharan</a>.</span>
                <br>
                <br>
                <i class="icon text-white icon_mail"></i>
                <a href="contact.html" class="text-white">
                    <span class="text-white"> Get in touch with me 
                        <i class="icon arrow_right"></i></span></a>
            </div>
        </div>
    </div>

</footer>